<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Management</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      margin-top: 50px;
    }
    .tab-content {
      margin-bottom: 50px;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <ul class="nav nav-tabs" id="eventTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="actualite-tab" data-toggle="tab" href="#actualite" role="tab" aria-controls="actualite" aria-selected="true">Actualite</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="demande-tab" data-toggle="tab" href="#demande" role="tab" aria-controls="demande" aria-selected="false">Demande</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="emploi-tab" data-toggle="tab" href="#emploi" role="tab" aria-controls="emploi" aria-selected="false">Emploi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="enseignat-tab" data-toggle="tab" href="#enseignat" role="tab" aria-controls="enseignat" aria-selected="false">Enseignat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="stages-tab" data-toggle="tab" href="#stages" role="tab" aria-controls="stages" aria-selected="false">Stages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="etudiants-tab" data-toggle="tab" href="#etudiants" role="tab" aria-controls="etudiants" aria-selected="false">Etudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="etudiants" aria-selected="false">Admin</a>
    </li>
  </ul>
  <div class="tab-content mt-4">
    <div class="tab-pane fade show active" id="actualite" role="tabpanel" aria-labelledby="actualite-tab">
      <div class="container form-container">
        <h2 class="text-center mb-4">Add Actualite Form</h2>
        <form action="/login/actualite/add" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description"></textarea>
          </div>
          <div class="form-group">
            <label for="public-cible">Public Cible:</label>
            <input type="text" class="form-control" id="public-cible" name="publicCible" placeholder="Enter public cible">
          </div>
          <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" class="form-control-file" id="image" name="image">
          </div>
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
    <div class="tab-pane fade" id="demande" role="tabpanel" aria-labelledby="demande-tab">
      <div class="text-center mt-4">VOIR DEMANDES</div>
    </div>
    <div class="tab-pane fade" id="emploi" role="tabpanel" aria-labelledby="emploi-tab">
      <h1>Liste des Emploi</h1>
      <ul>
        <% pdfs.forEach(pdf => { %>
        <li>
          <a href="/pdf/<%= pdf._id %>"><%= pdf.filename %></a>
          <form action="/pdf/<%= pdf._id %>/delete" method="post">
            <!-- Formulaire pour supprimer le PDF -->
            <button type="submit">Supprimer</button>
            <!-- Bouton de suppression -->
          </form>
        </li>
        <% }); %>
      </ul>
  
      <hr />
      <h2>Ajouter un nouveau PDF</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="pdf_file_emploi" accept="application/pdf" />
        <select name="filename">
          <!-- Menu déroulant pour sélectionner le nom du fichier PDF -->
          <option value="CPI1TD1">CPI1TD1</option>
          <option value="CPI1TD2">CPI1TD2</option>
          <option value="CPI2TD2">CPI2TD2</option>
          <option value="ING1ELTD1">ING1ELTD1</option>
          <option value="ING1ELTD2">ING1ELTD2</option>
          <option value="ING1INFOTD1">ING1INFOTD1</option>
          <option value="ING1INFOTD2">ING1INFOTD2</option>
          <option value="ING2INFOTD1">ING2INFOTD1</option>
          <option value="ING2ELTD1">ING2ELTD1</option>
          <option value="ING3INFOTD1">ING3INFOTD1</option>
          <option value="ING3ELTD1">ING3ELTD1</option>
          <option value="L1_EEA_TD1">L1_EEA_TD1</option>
          <option value="L1_EEA_TD2">L1_EEA_TD2</option>
          <option value="L1_EEA_TD3">L1_EEA_TD3</option>
          <option value="L1_INFO_TD1">L1_INFO_TD1</option>
          <option value="L1_INFO_TD2">L1_INFO_TD2</option>
          <option value="L1_INFO_TD3">L1_INFO_TD3</option>
          <option value="L1_INFO_TD4">L1_INFO_TD4</option>
          <option value="L1_MATH_TD1">L1_MATH_TD1</option>
          <option value="L1_TIC_TD1">L1_TIC_TD1</option>
          <option value="L1_TIC_TD2">L1_TIC_TD2</option>
          <option value="L1_TIC_TD3">L1_TIC_TD3</option>
          <option value="L2_INFO_TD1">L2_INFO_TD1</option>
          <option value="L2_INFO_TD2">L2_INFO_TD2</option>
          <option value="L2_INFO_TD3">L2_INFO_TD3</option>
          <option value="L2_INFO_TD4">L2_INFO_TD4</option>
          <option value="L2_INFO_TD5">L2_INFO_TD5</option>
          <option value="L2_MATH_TD1">L2_MATH_TD1</option>
          <option value="L2_MIM_TD1">L2_MIM_TD1</option>
          <option value="L2_SE_TD1">L2_SE_TD1</option>
          <option value="L2_SE_TD2">L2_SE_TD2</option>
          <option value="L2_TIC_TD1">L2_TIC_TD1</option>
          <option value="L2_TIC_TD2">L2_TIC_TD2</option>
          <option value="L3_INFO_TD1">L3_INFO_TD1</option>
          <option value="L3_INFO_TD2">L3_INFO_TD2</option>
          <option value="L3_INFO_TD3">L3_INFO_TD3</option>
          <option value="L3_INFO_TD4">L3_INFO_TD4</option>
          <option value="L3_INFO_TD5">L3_INFO_TD5</option>
          <option value="L3_MATH_TD1">L3_MATH_TD1</option>
          <option value="L3_SE_TD1">L3_SE_TD1</option>
          <option value="L3_SE_TD2">L3_SE_TD2</option>
          <option value="L3_SE_TD3">L3_SE_TD3</option>
          <option value="L3_TIC_TD1">L3_TIC_TD1</option>
          <option value="L3_TIC_TD2">L3_TIC_TD2</option>
          <option value="MP1_GL_TD1">MP1_GL_TD1</option>
          <option value="MP1_III_TD1">MP1_III_TD1</option>
          <option value="MP1_SD_TD1">MP1_SD_TD1</option>
          <option value="MP2_GL_TD1">MP2_GL_TD1</option>
          <option value="MP2_III_TD1">MP2_III_TD1</option>
          <option value="MP2_SD_TD1">MP2_SD_TD1</option>
          <option value="MR1_EL_TD1">MR1_EL_TD1</option>
          <option value="MR1_GL_TD1">MR1_GL_TD1</option>
          <option value="MR2_EL_TD1">MR2_EL_TD1</option>
          <option value="MR2_GL_TD1">MR2_GL_TD1</option>
        </select>
        <button type="submit">Téléverser</button>
      </form>
    </div>
    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
      <h1>Liste des PDF</h1>
    <ul>
      <% pdfnotes.forEach(pdf => { %>
      <li>
        <a href="/pdf_notes/<%= pdf._id %>"><%= pdf.filename %></a>
        <form action="/pdf_notes/<%= pdf._id %>/delete" method="post">
          <!-- Formulaire pour supprimer le PDF -->
          <button type="submit">Supprimer</button>
          <!-- Bouton de suppression -->
        </form>
      </li>
      <% }); %>
    </ul>

    <hr />
    <h2>Ajouter un nouveau PDF</h2>
    <form action="/upload2" method="post" enctype="multipart/form-data">
      <input type="file" name="pdf_file_note" accept="application/pdf" />
      <select name="filename">
        <option value="CPI1">CPI1</option>
        <option value="CPI2">CPI2</option>
        <option value="ING1EL">ING1EL</option>
        <option value="ING1INFO">ING1INFO</option>
        <option value="ING2INFO">ING2INFO</option>
        <option value="ING2EL">ING2EL</option>
        <option value="ING3INFO">ING3INFO</option>
        <option value="ING3EL">ING3EL</option>
        <option value="L1_EEA">L1_EEA</option>
        <option value="L1_INFO">L1_INFO</option>
        <option value="L1_MATH">L1_MATH</option>
        <option value="L1_TIC">L1_TIC</option>
        <option value="L2_INFO">L2_INFO</option>
        <option value="L2_MATH">L2_MATH</option>
        <option value="L2_MIM">L2_MIM</option>
        <option value="L2_SE">L2_SE</option>
        <option value="L2_TIC">L2_TIC</option>
        <option value="L3_INFO">L3_INFO</option>
        <option value="L3_MATH">L3_MATH</option>
        <option value="L3_SE">L3_SE</option>
        <option value="L3_TIC">L3_TIC</option>
        <option value="MP1_GL">MP1_GL</option>
        <option value="MP1_III">MP1_III</option>
        <option value="MP1_SD">MP1_SD</option>
        <option value="MP2_GL">MP2_GL</option>
        <option value="MP2_III">MP2_III</option>
        <option value="MP2_SD">MP2_SD</option>
        <option value="MR1_EL">MR1_EL</option>
        <option value="MR1_GL">MR1_GL</option>
        <option value="MR2_EL">MR2_EL</option>
        <option value="MR2_GL">MR2_GL</option>
      </select>
      <button type="submit">Téléverser</button>
    </form>
    </div>
    <div class="tab-pane fade" id="enseignat" role="tabpanel" aria-labelledby="enseignat-tab">
      <div class="text-center mt-4">Enseignat managment</div>
    </div>
    <div class="tab-pane fade" id="stages" role="tabpanel" aria-labelledby="stages-tab">
      <div class="text-center mt-4">Stages managment</div>
    </div>
    <div class="tab-pane fade" id="etudiants" role="tabpanel" aria-labelledby="etudiants-tab">
      <div class="container form-container">
        <h2 class="text-center mb-4">Etudiant Form</h2>
        <form action="/students/add" method="post">
      
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" required />
          </div>
          <div class="form-group">
          <label for="prenom">Prénom:</label>
          <input type="text" name="prenom" required />
    </div>
          <div class="form-group">
          <label for="cin">CIN:</label>
          <input type="text" name="cin" required />
    </div>
          <div class="form-group">
          <label for="numeroInscription">Numéro d'inscription:</label>
          <input type="text" name="numeroInscription" required />
    </div>
          <div class="form-group">
          <label for="dateNaissance">Date de naissance:</label>
          <input type="date" name="dateNaissance" required />
    </div>
          <div class="form-group">
          <label for="lieuNaissance">Lieu de naissance:</label>
          <input type="text" name="lieuNaissance" required />
    </div>
          <div class="form-group">
          <label for="sexe">Sexe:</label>
          <input type="text" name="sexe" required />
    </div>
          <div class="form-group">
          <label for="codePostal">Code Postal:</label>
          <input type="text" name="codePostal" required />
    </div>
          <div class="form-group">
          <label for="adresseLocale">Adresse locale:</label>
          <input type="text" name="adresseLocale" required />
    </div>
          <div class="form-group">
          <label for="telephonePersonnel">Téléphone personnel:</label>
          <input type="text" name="telephonePersonnel" required />
    </div>
          <div class="form-group">
          <label for="email">Adresse Email:</label>
          <input type="email" name="email" required />
    </div>
          <div class="form-group">
          <label for="specialite">Spécialité:</label>
            </div>
          <div class="form-group">
            <select name="specialite" required>
              <!-- Menu déroulant pour sélectionner le nom du fichier PDF -->
              <option value="CPI1">CPI1</option>
              <option value="CPI2">CPI2</option>
              <option value="ING1EL">ING1EL</option>
              <option value="ING1INFO">ING1INFO</option>
              <option value="ING2INFO">ING2INFO</option>
              <option value="ING2EL">ING2EL</option>
              <option value="ING3INFO">ING3INFO</option>
              <option value="ING3EL">ING3EL</option>
              <option value="L1_EEA">L1_EEA</option>
              <option value="L1_INFO">L1_INFO</option>
              <option value="L1_MATH">L1_MATH</option>
              <option value="L1_TIC">L1_TIC</option>
              <option value="L2_INFO">L2_INFO</option>
              <option value="L2_MATH">L2_MATH</option>
              <option value="L2_MIM">L2_MIM</option>
              <option value="L2_SE">L2_SE</option>
              <option value="L2_TIC">L2_TIC</option>
              <option value="L3_INFO">L3_INFO</option>
              <option value="L3_MATH">L3_MATH</option>
              <option value="L3_SE">L3_SE</option>
              <option value="L3_TIC">L3_TIC</option>
              <option value="MP1_GL">MP1_GL</option>
              <option value="MP1_III">MP1_III</option>
              <option value="MP1_SD">MP1_SD</option>
              <option value="MP2_GL">MP2_GL</option>
              <option value="MP2_III">MP2_III</option>
              <option value="MP2_SD">MP2_SD</option>
              <option value="MR1_EL">MR1_EL</option>
              <option value="MR1_GL">MR1_GL</option>
              <option value="MR2_EL">MR2_EL</option>
              <option value="MR2_GL">MR2_GL</option>
            </select>
          </div>
                <div class="form-group">
    
    
          <label for="niveauEtudes">Niveau d'études:</label>
          <select name="niveauEtudes" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          </div>
                <div class="form-group">
    
                
          <label for="groupeTD">Groupe TD:</label>
          <select name="groupeTD" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          </div>
          <div class="form-group">
            <label for="etablissementAuPrecedente"
              >Etablissement de l’AU précédente:</label>
            <input type="text" name="etablissementAuPrecedente" required />
            </div>

            <div class="form-group">
              <label for="password"
                >password</label>
              <input type="text" name="password"/>
              </div>
          <div class="form-group">
          <button type="submit">Add Student</button>
          </div>
        </form>

        <h2>Edit / Delete Students</h2>
    <ul>
      <% students.forEach(student => { %>
      <li>
        <%= student.nom %> <%= student.prenom %> - <%= student.age %>
        <!-- Adjust the displayed attributes -->

        <!-- Include other new attributes in your form -->

        <form
          action="/students/edit/<%= student._id %>"
          method="get"
          style="display: inline"
        >
          <button type="submit">Edit</button>
        </form>
        <form
          action="/students/delete/<%= student._id %>?_method=DELETE"
          method="post"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
      </div>    </div>
    <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
      <div class="container form-container">
        <h2 class="text-center mb-4">Admin Form</h2>
        <form action="/addAdmin" method="POST">
          <div class="form-group">      <label for="username">Username:</label>
            <input type="text" id="username" name="username" required /></div>
    
          <div class="form-group">      <label for="password">Password:</label>
            <input type="password" id="password" name="password" required /></div>
    
          <div class="form-group"><button type="submit">Add Admin</button></div>
          
      
        </form>
    
        <!-- List of admins -->
        <h2>Admins:</h2>
        <ul>

          <% idara.forEach(function(e) { %>
          <li>
            <%= e.username %>
            <form
              action="/deleteAdmin/<%= e._id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit">Delete</button>
            </form>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
