<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Student</title>
</head>
<body>
    <h1>Edit Student</h1>
    <form action="/students/edit/<%= editingStudent._id %>" method="post">
        <label for="nom">Nom:</label>
        <input type="text" name="nom" value="<%= editingStudent.nom %>" required />
        <br />

        <label for="prenom">Prénom:</label>
        <input type="text" name="prenom" value="<%= editingStudent.prenom %>" required />
        <br />

        <label for="cin">CIN:</label>
        <input type="text" name="cin" value="<%= editingStudent.cin %>" required />
        <br />

        <label for="numeroInscription">Numéro d'inscription:</label>
        <input type="text" name="numeroInscription" value="<%= editingStudent.numeroInscription %>" required />
        <br />

        <label for="dateNaissance">Date de naissance:</label>
        <input type="date" name="dateNaissance" value="<%= editingStudent.dateNaissance.toISOString().split('T')[0] %>" required />
        <br />

        <label for="lieuNaissance">Lieu de naissance:</label>
        <input type="text" name="lieuNaissance" value="<%= editingStudent.lieuNaissance %>" required />
        <br />

        <label for="sexe">Sexe:</label>
        <input type="text" name="sexe" value="<%= editingStudent.sexe %>" required />
        <br />

        <label for="codePostal">Code Postal:</label>
        <input type="text" name="codePostal" value="<%= editingStudent.codePostal %>" required />
        <br />

        <label for="adresseLocale">Adresse locale:</label>
        <input type="text" name="adresseLocale" value="<%= editingStudent.adresseLocale %>" required />
        <br />

        <label for="telephonePersonnel">Téléphone personnel:</label>
        <input type="text" name="telephonePersonnel" value="<%= editingStudent.telephonePersonnel %>" required />
        <br />

        <label for="email">Adresse Email:</label>
        <input type="email" name="email" value="<%= editingStudent.email %>" required />
        <br />
        <label for="specialite">Spécialité:</label>
        <select name="specialite" required>
            <option value="">Select a specialty</option>
            <option value="Licence en sciences de l'informatique" <%= editingStudent.specialite === 'Licence en sciences de l\'informatique' ? 'selected' : '' %>>Licence en sciences de l'informatique</option>
            <option value="Licence en technologie des informations et communications (L-TIC)" <%= editingStudent.specialite === 'Licence en technologie des informations et communications (L-TIC)' ? 'selected' : '' %>>Licence en technologie des informations et communications (L-TIC)</option>
            <!-- Add other options here -->
            <option value="Licence en mathématiques appliquées (L-M)" <%= editingStudent.specialite === 'Licence en mathématiques appliquées (L-M)' ? 'selected' : '' %>>Licence en mathématiques appliquées (L-M)</option>
            <option value="Licence en électronique électrotechnique et automatique (L-EEA)" <%= editingStudent.specialite === 'Licence en électronique électrotechnique et automatique (L-EEA)' ? 'selected' : '' %>>Licence en électronique électrotechnique et automatique (L-EEA)</option>
            <option value="Licence en mesure et instrumentation et métrologie (L-MIM)" <%= editingStudent.specialite === 'Licence en mesure et instrumentation et métrologie (L-MIM)' ? 'selected' : '' %>>Licence en mesure et instrumentation et métrologie (L-MIM)</option>
            <option value="Licence en systèmes embarqués (L-SE)" <%= editingStudent.specialite === 'Licence en systèmes embarqués (L-SE)' ? 'selected' : '' %>>Licence en systèmes embarqués (L-SE)</option>
            <option value="Diplôme national d'ingénieur en électronique(ING)" <%= editingStudent.specialite === 'Diplôme national d\'ingénieur en électronique(ING)' ? 'selected' : '' %>>Diplôme national d'ingénieur en électronique(ING)</option>
            <option value="Cycle préparatoire intégré (CPI)" <%= editingStudent.specialite === 'Cycle préparatoire intégré (CPI)' ? 'selected' : '' %>>Cycle préparatoire intégré (CPI)</option>
            <option value="Mastère de recherche en microélectronique et instrumentation (MR-micro)" <%= editingStudent.specialite === 'Mastère de recherche en microélectronique et instrumentation (MR-micro)' ? 'selected' : '' %>>Mastère de recherche en microélectronique et instrumentation (MR-micro)</option>
            <option value="Mastère de recherche en génie logiciel (MR-GL)" <%= editingStudent.specialite === 'Mastère de recherche en génie logiciel (MR-GL)' ? 'selected' : '' %>>Mastère de recherche en génie logiciel (MR-GL)</option>
            <option value="Mastère professionnel en génie logiciel (MP-GL)" <%= editingStudent.specialite === 'Mastère professionnel en génie logiciel (MP-GL)' ? 'selected' : '' %>>Mastère professionnel en génie logiciel (MP-GL)</option>
            <option value="Mastère professionnel en Data Science (MPDS)" <%= editingStudent.specialite === 'Mastère professionnel en Data Science (MPDS)' ? 'selected' : '' %>>Mastère professionnel en Data Science (MPDS)</option>
            <!-- Add other options as needed -->
            <option value="Other" <%= editingStudent.specialite !== 'Licence en sciences de l\'informatique' && editingStudent.specialite !== 'Licence en technologie des informations et communications (L-TIC)' && editingStudent.specialite !== 'Licence en mathématiques appliquées (L-M)' && editingStudent.specialite !== 'Licence en électronique électrotechnique et automatique (L-EEA)' && editingStudent.specialite !== 'Licence en mesure et instrumentation et métrologie (L-MIM)' && editingStudent.specialite !== 'Licence en systèmes embarqués (L-SE)' && editingStudent.specialite !== 'Diplôme national d\'ingénieur en électronique(ING)' && editingStudent.specialite !== 'Cycle préparatoire intégré (CPI)' && editingStudent.specialite !== 'Mastère de recherche en microélectronique et instrumentation (MR-micro)' && editingStudent.specialite !== 'Mastère de recherche en génie logiciel (MR-GL)' && editingStudent.specialite !== 'Mastère professionnel en génie logiciel (MP-GL)' && editingStudent.specialite !== 'Mastère professionnel en Data Science (MPDS)' ? 'selected' : '' %>>Other</option>
        </select>
        <input type="text" name="otherSpecialite" style="display: none;" value="<%= editingStudent.specialite !== 'Licence en sciences de l\'informatique' && editingStudent.specialite !== 'Licence en technologie des informations et communications (L-TIC)' && editingStudent.specialite !== 'Licence en mathématiques appliquées (L-M)' && editingStudent.specialite !== 'Licence en électronique électrotechnique et automatique (L-EEA)' && editingStudent.specialite !== 'Licence en mesure et instrumentation et métrologie (L-MIM)' && editingStudent.specialite !== 'Licence en systèmes embarqués (L-SE)' && editingStudent.specialite !== 'Diplôme national d\'ingénieur en électronique(ING)' && editingStudent.specialite !== 'Cycle préparatoire intégré (CPI)' && editingStudent.specialite !== 'Mastère de recherche en microélectronique et instrumentation (MR-micro)' && editingStudent.specialite !== 'Mastère de recherche en génie logiciel (MR-GL)' && editingStudent.specialite !== 'Mastère professionnel en génie logiciel (MP-GL)' && editingStudent.specialite !== 'Mastère professionnel en Data Science (MPDS)' ? editingStudent.specialite : '' %>" />
        <script>
            document.querySelector('select[name="specialite"]').addEventListener('change', function() {
                if (this.value === 'Other') {
                    document.querySelector('input[name="otherSpecialite"]').style.display = 'block';
                    document.querySelector('input[name="otherSpecialite"]').setAttribute('required', true);
                } else {
                    document.querySelector('input[name="otherSpecialite"]').style.display = 'none';
                    document.querySelector('input[name="otherSpecialite"]').removeAttribute('required');
                }
            });
        </script>
        
        <br />


        <label for="niveauEtudes">Niveau d'études:</label>
        <select name="niveauEtudes" required>
          <option value="1" <%= editingStudent.niveauEtudes === '1' ? 'selected' : '' %>>1</option>
          <option value="2" <%= editingStudent.niveauEtudes === '2' ? 'selected' : '' %>>2</option>
          <option value="3" <%= editingStudent.niveauEtudes === '3' ? 'selected' : '' %>>3</option>
          <!-- Add more options as needed -->
        </select>
        <br />
        

        <label for="groupeTD">Groupe TD:</label>
        <select name="groupeTD" required>
            <option value="1" <%= editingStudent.groupeTD === '1' ? 'selected' : '' %>>1</option>
            <option value="2" <%= editingStudent.groupeTD === '2' ? 'selected' : '' %>>2</option>
            <option value="3" <%= editingStudent.groupeTD === '3' ? 'selected' : '' %>>3</option>
            <!-- Add more options as needed -->
        </select>
        <br />

        <label for="etablissementAuPrecedente">Etablissement de l’AU précédente:</label>
        <input type="text" name="etablissementAuPrecedente" value="<%= editingStudent.etablissementAuPrecedente %>" required />
        <br />

        <button type="submit">Update Student</button>
    </form>
</body>
</html>
